<div class="container">
    <ng-container *ngIf="member">
        <div class="row">
            <div class="col-md-2 img-wrapper">
                <img class="rounded-circle" src="{{member.photoUrl || './assets/default-user-icon.jpg'}}" alt="">
            </div>
            <div class="col-md-8 mb-5">
                <h1 >{{member.username}}</h1>
                <p><small>{{getLastSeen()}}</small></p>
                <p>{{member.description}}</p>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary">Chat <i class="fa fa-send-o"></i></button>
            </div>
            <hr>
            <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> 
        </div>
        
    </ng-container>

</div>